.hero--box{
    background-color: var(--default-hero-bg-color);
    display: flex;
    flex-direction: row;
}

.content--left{
    width: 60%;
    padding: 32px 24px;
}

.content--left img{
    width: 100%;
}

.content--right{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text--with-button{
    width: 80%;
    color: var(--default-text-color);
    letter-spacing: normal;
}

.text--with-button h1{
    font-size: 3rem;
    padding-bottom: 2rem;
}

.text--with-button p{
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 2rem;
}

.text--with-button button{
    width: 100%;
    background-color: var(--default-text-color);
    font-size: 1.5rem;
    font-weight: 600;
    color: aliceblue;
    padding: 8px 0;
    border: none;
}

.text--with-button button:hover{
    width: 100%;
    background-color: var(--default-button-hover);
    color: aliceblue;
    padding: 8px 0;
}

@media screen and (max-width: 425px) {
    .hero--box{
        flex-direction: column;
    }

    .content--left{
        width: 100%;
        padding: 0;
    }

    .content--right{
        width: 100%;
        padding: 32px 16px;
    }

    .text--with-button{
        width: 100%;
    }

    .text--with-button h1{
        font-size: 2.5rem;
        padding: 0;
    }
    
    .text--with-button p{
        font-size: 1.5rem;
        font-weight: 600;
        padding: 32px 0 24px 0;
    }
    
    .text--with-button button{
        width: 100%;
        background-color: var(--default-button-hover);
        color: aliceblue;
        padding: 8px 0;
        border: none;
    }

    .text--with-button button:hover{
        width: 100%;
        background-color: var(--default-text-color);
        color: aliceblue;
        padding: 8px 0;
    }

}