.information--box{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--default-bg-color);
}

.info--left{
    width:60%;
    padding: 32px 24px;
    border-right: 0.5px solid #D8D8D8;
}

.info__hero--image img{
    width: 100%;
}

.info--left h2{
    padding: 32px 0 24px 0;
    font-size: 1.8rem;
}

.info--left p{
    padding-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

.info--left .auth{
    padding: 0;
    font-weight: 600;
}

.info--right{
    width:40%;
    display: flex;
    flex-direction: column;
}

.sidebar--object{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.2px;
    border: 1px solid var(--default-hero-bg-color);
    padding: 16px;
}

.sidebar--object:hover{
    background-color: var(--default-hero-bg-color);
}

.sidebar--image{
    width: 35%;
    margin: 0 16px 0 0;
}

.sidebar--image img{
    height: auto;
    width: 100%;
}

.sidebar--detail{
    width: 65%;
}

.sidebar--detail h4{
    font-size: 1.5rem;
    color: var(--default-text-color);
}

.sidebar--detail p{
    padding: 8px 0;
    font-size: 1rem;
    
}

.sidebar--detail .readmore{
    color: #69a2e4;
    font-size: 1rem;
    font-weight: 500;
}

.info--right--mobile{
    display: none;
}



@media screen and (max-width: 425px) {
    .info--left, .info--right{
        display: none;
    }
    
    .info--right--mobile{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 16px 16px 32px 16px;
    }

    .sidebar--object--mobile{
        width: 100%;
    }

    .sidebar--image--mobile img{
        width: 100%;
    }

    .sidebar--detail--mobile{
        width: 100%;
        padding: 16px 16px 0px 16px;
    }
    
    .sidebar--detail--mobile h4{
        font-size: 1.5rem;
        color: var(--default-text-color);
    }
    
    .sidebar--detail--mobile p{
        padding: 8px 0;
        font-size: 1rem;
        
    }
    
    .sidebar--detail--mobile .readmore{
        color: #69a2e4;
        font-size: 1rem;
        font-weight: 500;
    }
}