@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --default-text-color:#4A4A4A;
    --default-hero-bg-color:#D8D8D8;
    --default-button-hover:#9B9B9B;
    --default-bg-color:#F3F5F5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.project{
    max-width: 1440px;
    margin: auto;
}

a{
    text-decoration: none;
}

a:visited{
    color: var(--default-text-color);
}

.footer--section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 24px;
    background-color: #f3f5f5;
}

.footer-right{
    display: flex;
    flex-direction: row;
}

.footer-right p{
    margin-left: 16px;
}

@media screen and (max-width: 425px) {
    .footer-right{
        display: none;
    }
}
